@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply flex flex-row items-center rounded my-4 px-3 py-2 m-1 bg-blue-700 text-white font-bold;
}

.button-relief {
  @apply flex flex-row items-center rounded my-4 px-3 py-2 m-1 border-b-4 border-l-2 shadow-lg bg-blue-700 border-blue-800 text-white font-bold;
}

.button-empty {
  @apply flex flex-row items-center rounded my-4 px-3 py-2 m-1 border-2 shadow-lg border-blue-700 text-blue-700 font-bold focus:outline-none hover:bg-blue-700 hover:text-white;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}
