@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:hover is a pseudo-selector, i.e. this will only select dropdown class which is hovered.
Recall that > symbol means it is selecting its child, i.e. dropdown-content the child of dropdown.
*/
.dropdown:hover > .dropdown-content {
  display: block;
}

.button {
  @apply flex flex-row items-center rounded px-3 py-2 m-1 text-white font-bold active:bg-blue-900;
}

.button-relief {
  @apply flex flex-row items-center rounded px-3 py-2 m-1 border-b-4 border-l-2 shadow-lg bg-blue-700 border-blue-800 text-white font-bold active:bg-blue-900;
}

.button-empty {
  @apply flex flex-row items-center rounded my-4 px-3 py-2 m-1 border-2 shadow-lg border-blue-700 text-blue-700 font-bold focus:outline-none hover:bg-blue-700 hover:text-white;
}

.button-icon {
  @apply h-7 w-7 text-blue-500 hover:bg-gray-200 cursor-pointer outline-none;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

td {
  padding: 6px 13px;
  border-color: #dfe2e5;
  border-width: 3px 1px;
}

th {
  padding: 6px 13px;
  background-color: black;
  color: white;
}

